* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif; 
}

.header {
  background-color: #383d58; 
  color: white; 
  display: flex; 
  justify-content: space-around; 
  padding: 24px 0; 

  & .img {
   width: 25%; 
  }

  & .lista {
  margin: 0 16px; 
  padding: 16px 0;
  font-size: 24px;

    & .item {
      display: inline-block; 
    }
  }
}

.escola {
  background-image: linear-gradient(#383d58, #00c0eb); 
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 24px 0;

  & .img {
    width: 25%;
  }

  & .conteudo {
    width: 35%;

    & .title {
      padding: 24px 0;
    }
  }
}

 & .estudante {
  justify-content: center;
  align-items: center; 
  padding: 24px 0;

  & .title {
    text-align: center;
    padding: 50px 0; 
  }

  & .todos {
    display: grid; 
    grid-template-columns: 20% 20% 20% 20%; 
  }

  & .container{
    text-align: center; 
    
    & .img {
      width: 120px;
    }

    & .icon {
      width: 12px;
    }
  }



}

.escola-conteudo {
  width: 35%;
}

.escola-titulo {
  padding: 24px 0; 
}

.estudante-imagem {
  width: 120px;
}

.estudante-icone {
  width: 12px;
}

.estudante-div {
  text-align: center;
}

.estudante-titulo {
  text-align: center;
  padding: 50px 0; 
}

.estudante-todos {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%; 
}
